<table class="table">
    <caption class="caption">有色金属种类及质量标准</caption>
    <thead class="header">
    <tr>
    <th class="w80">种类</th>
    <th class="w120">品类</th>
    <th class="item-quantity"> 质量标准</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="w80" rowspan="4">废不锈钢</td>
        <td class="w120">201</td>
        <td class="item-quantity">含镍低，不上磁铁，不上锈，用蓝帆水电解染料发红</td>
    </tr>
    <tr>
        <td class="w120">304</td>
        <td class="item-quantity">镍≥8%、铬:18%-20%，用N8药水通电氧化后呈现红色</td>
    </tr>
    <tr>
        <td class="w120">316</td>
        <td class="item-quantity">镍≥8%、铬:16%-18%、钼：2%-3%，用M2通电氧化后呈红色且红色不消退</td>
    </tr>
    <tr>
        <td class="w120">430</td>
        <td class="item-quantity">俗称二铬，上磁铁，颜色暗或黑，多用于生活餐具</td>
    </tr>
    <tr>
        <td class="w80" rowspan="10">废铝</td>
        <td class="w120">易拉罐</td>
        <td class="item-quantity">不含杂物、干燥、无尘土、无铁质易拉罐</td>
    </tr>
    <tr>
        <td class="w120">炉盘</td>
        <td class="item-quantity">按炉大小，含铁及其他杂质多少比例扣重</td>
    </tr>
    <tr>
        <td class="w120">铝合金</td>
        <td class="item-quantity">要求无铁、无塑料</td>
    </tr>
    <tr>
        <td class="w120">件铝</td>
        <td class="item-quantity">要求无铁，无其他杂物，尽量无油渍</td>
    </tr>
    <tr>
        <td class="w120">杂铝（扣板）</td>
        <td class="item-quantity"></td>
    </tr>
    <tr>
        <td class="w120">断桥</td>
        <td class="item-quantity">按含塑料比例适当扣重或降低价格，以质论价</td>
    </tr>
    <tr>
        <td class="w120">铝屑</td>
        <td class="item-quantity">不含杂物</td>
    </tr>
    <tr>
        <td class="w120">铝线</td>
        <td class="item-quantity"></td>
    </tr>
    <tr>
        <td class="w120">轮毂</td>
        <td class="item-quantity">一般情况下1吨扣杂4斤</td>
    </tr>
    <tr>
        <td class="w120">锌件</td>
        <td class="item-quantity">无塑料、白钢、铁，表面要干净整洁，无油污，若有铁或其它杂质适量扣重</td>
    </tr>
    <tr>
        <td class="w80" rowspan="7">废铜</td>
        <td class="w120">合股光亮</td>
        <td class="item-quantity"></td>
    </tr>
    <tr>
        <td class="w120">亮铜</td>
        <td class="item-quantity">色泽光亮，出水率在98.5%以上。如颜色发黄或稍黄，则说明质量略差</td>
    </tr>
    <tr>
        <td class="w120">杂铜</td>
        <td class="item-quantity">废旧电机线或火烧电线（细的）统称为杂铜，断面有红铜色泽，线皮燃烧完全</td>
    </tr>
    <tr>
        <td class="w120">大块黄铜</td>
        <td class="item-quantity">黄铜常被用于制造阀门、水管、空调内外机连接管和散热器等，一公斤以上的黄铜称之为大块黄铜</td>
    </tr>
    <tr>
        <td class="w120">小块黄铜</td>
        <td class="item-quantity">黄铜常被用于制造阀门、水管、空调内外机连接管和散热器等，一公斤以下的黄铜称之为小块黄铜（轮船螺旋桨按小块）</td>
    </tr>
    <tr>
        <td class="w120">黄杂铜</td>
        <td class="item-quantity"></td>
    </tr>
    <tr>
        <td class="w120">62黄铜边角</td>
        <td class="item-quantity">含铜量为62%及以上</td>
    </tr>
    </tbody>
</table>
