<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>

<table class="table">
    <caption class="caption">PET种类及质量标准</caption>
    <thead class="header">
    <tr>
    <th class="w80">种类</th>
    <th class="w120">品类</th>
    <th class="item-quantity"> 质量标准</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="w80" rowspan="20">PET</td>
        <td class="w120">蓝白片一级</td>
        <td class="item-quantity">清洗干净，有亮度，蓝白片含量比例3：7，PVC≤3/万，杂质≤3/万，不含油壶片，不含杂色片。</td>
    </tr>
    <tr>
        <td class="w120">蓝白片二级</td>
        <td class="item-quantity">蓝白片含量比例3：7，PVC≤5/万，杂质≤5/万，不含油壶片，不含杂色片。</td>
    </tr>
    <tr>
        <td class="w120">蓝白片三级</td>
        <td class="item-quantity">蓝白片含量比例3：7，PVC≤8/万，杂质≤8/万，不含杂色片，油壶含量≤20/万。</td>
    </tr>
    <tr>
        <td class="w120">蓝白毛片</td>
        <td class="item-quantity">PVC≤5/万，杂质≤8/万，不含杂色片，不含油壶，瓶盖含量≤7%。</td>
    </tr>
    <tr>
        <td class="w120">纯白片一级</td>
        <td class="item-quantity">清洗干净，有亮度，PVC≤3/万，杂质≤3/万，无杂色片，无黄片，不含油壶片。</td>
    </tr>
    <tr>
        <td class="w120">纯白片二级（清洗）</td>
        <td class="item-quantity">需清洗，净片，PVC≤3/万，杂质≤5/万，无杂色片，无黄片，不含油壶片。</td>
    </tr>
    <tr>
        <td class="w120">纯蓝净片</td>
        <td class="item-quantity">PVC≤3/万，杂质≤3/万，无杂色片。</td>
    </tr>
    <tr>
        <td class="w120">纯绿片</td>
        <td class="item-quantity">PVC≤3/万，杂质≤3/万，不含杂色片，不含绿条。</td>
    </tr>
    <tr>
        <td class="w120">纯绿片（含杂色）</td>
        <td class="item-quantity">不含黄瓷白片，褐色片，PVC≤3/万，杂质≤3/万，杂色片总量≤3%。</td>
    </tr>
    <tr>
        <td class="w120">绿毛片</td>
        <td class="item-quantity">PVC≤3/万，杂质≤5/万，不含杂色片，瓶盖含量≤7%。</td>
    </tr>
    <tr>
        <td class="w120">油壶毛片</td>
        <td class="item-quantity">PVC≤3/万，杂质≤5/万，无杂色片，瓶盖含量≤5%。</td>
    </tr>
    <tr>
        <td class="w120">大毛件不含油壶</td>
        <td class="item-quantity">白，蓝，绿瓶（比例6：3：1）压块，不含杂色瓶，不含沉底料，不含PVC瓶。</td>
    </tr>
    <tr>
        <td class="w120">大毛件含油壶</td>
        <td class="item-quantity">白，蓝，绿，油壶瓶（比例6：2：1：1）压块，不含沉底料，不含PVC瓶。</td>
    </tr>
    <tr>
        <td class="w120">蓝白净件</td>
        <td class="item-quantity">不含商标纸，蓝白比例3：7，不含PVC瓶，不含沉底料及杂色瓶等。</td>
    </tr>
    <tr>
        <td class="w120">纯白净件</td>
        <td class="item-quantity">不含商标纸，不含pvc瓶，不含沉底料及杂色瓶等。</td>
    </tr>
    <tr>
        <td class="w120">纯蓝净件</td>
        <td class="item-quantity">不含商标纸，不含pvc瓶，不含沉底料及杂色瓶等。</td>
    </tr>
    <tr>
        <td class="w120">纯绿净件</td>
        <td class="item-quantity">不含商标纸，不含pvc瓶，不含沉底料及杂色瓶等。</td>
    </tr>
    <tr>
        <td class="w120">纯绿件（含杂色）</td>
        <td class="item-quantity">不含商标纸，不含PVC瓶，不含沉底料，杂色瓶含量≤3%。</td>
    </tr>
    <tr>
        <td class="w120">油壶净件</td>
        <td class="item-quantity">不含商标纸，不含油壶把，不含沉底料，不含PVC瓶。</td>
    </tr>
    <tr>
        <td class="w120">油壶毛件</td>
        <td class="item-quantity">不含沉底料，不含PVC瓶。</td>
    </tr>
    </tbody>
</table>

</body>
</html>
