<table class="table">
    <caption class="caption">国产塑料种类及质量标准</caption>
    <thead class="header">
    <tr>
      <th class="w80">种类</th>
      <th class="w120">品类</th>
      <th class="item-quantity"> 质量标准</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="w80" rowspan="27">PE</td>
        <td class="w120">白低压筐</td>
        <td class="item-quantity">干净、无杂色筐</td>
      </tr>
      <tr>
        <td class="w120">白低压桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">瓷白低压桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">大白桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">低压壶</td>
        <td class="item-quantity">干净</td>
      </tr>
      <tr>
        <td class="w120">黑皮子</td>
        <td class="item-quantity">干净、无泥沙</td>
      </tr>
      <tr>
        <td class="w120">大蓝桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">小蓝桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">蓝月亮</td>
        <td class="item-quantity">干净</td>
      </tr>
      <tr>
        <td class="w120">色低压筐</td>
        <td class="item-quantity">干净，有亮度</td>
      </tr>
      <tr>
        <td class="w120">娃哈哈</td>
        <td class="item-quantity">干净，有亮度</td>
      </tr>
      <tr>
        <td class="w120">下色筐</td>
        <td class="item-quantity">干净</td>
      </tr>
      <tr>
        <td class="w120">白桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">白筐粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">沉底白壶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">黄毛粉碎料含沉底</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">沉底蓝桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">大蓝桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">低压壶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">机油壶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">鸡网粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">蓝丙筐粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">蓝月亮粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">娃哈哈白猫粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">小蓝桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">杂白乙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">再生蓝桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>

      <tr>
        <td class="w80" rowspan="3">PE/PP</td>
        <td class="w120">白料</td>
        <td class="item-quantity">干净、无花料</td>
      </tr>
      <tr>
        <td class="w120">花料</td>
        <td class="item-quantity">干净</td>
      </tr>
      <tr>
        <td class="w120">盆料</td>
        <td class="item-quantity">干净，有亮度</td>
      </tr>

      <tr>
        <td class="w80" rowspan="17">PP</td>
        <td class="w120">白透明丙筐</td>
        <td class="item-quantity">干净、无杂色筐</td>
      </tr>
      <tr>
        <td class="w120">不带字涂料桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">带字涂料桶</td>
        <td class="item-quantity">干净、无杂色桶</td>
      </tr>
      <tr>
        <td class="w120">黑丙筐</td>
        <td class="item-quantity">干净、无杂色筐</td>
      </tr>
      <tr>
        <td class="w120">红透明丙筐</td>
        <td class="item-quantity">干净、无杂色筐</td>
      </tr>
      <tr>
        <td class="w120">黄丙筐</td>
        <td class="item-quantity">干净、无杂色筐</td>
      </tr>
      <tr>
        <td class="w120">聚丙管</td>
        <td class="item-quantity">干净、无泥沙</td>
      </tr>
      <tr>
        <td class="w120">白透明丙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">白透明丙筐粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">不带字涂料桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">沉底丙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">带字涂料桶粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">色丙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度</td>
      </tr>
      <tr>
        <td class="w120">色透明粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度</td>
      </tr>
      <tr>
        <td class="w120">透明丙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">大白丙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>
      <tr>
        <td class="w120">黑丙粉碎料</td>
        <td class="item-quantity">清洗干净，有亮度、无其他杂色料</td>
      </tr>

      <tr>
        <td class="w80" rowspan="2">PVC</td>
        <td class="w120">塑钢</td>
        <td class="item-quantity">无铁、无杂色塑钢</td>
      </tr>
      <tr>
        <td class="w120">塑钢带铁</td>
        <td class="item-quantity">无杂色塑钢</td>
      </tr>
    </tbody>
  </table>
