<table class="table">
    <caption class="caption">废钢种类及质量标准</caption>
    <thead class="header">
    <tr>
    <th class="w80">种类</th>
    <th class="w120">品类</th>
    <th class="item-quantity"> 质量标准</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="w80" rowspan="3">船板料</td>
        <td class="w120" rowspan="3">船板料</td>
        <td class="item-quantity">A:6厚长500以内</td>
    </tr>
    <tr>
        <td class="item-quantity">B:大块直接剪切</td>
    </tr>
    <tr>
        <td class="item-quantity">C:大块需切割后剪切</td>
    </tr>
    <tr>
        <td class="w80">马蹄铁</td>
        <td class="w120">马蹄铁</td>
        <td class="item-quantity">厚3以上</td>
    </tr>
    <tr>
        <td class="w80" rowspan="5">重型料</td>
        <td class="w120" rowspan="5">重型料</td>
        <td class="item-quantity">A:剪切料：厚6以上，长800以内</td>
    </tr>
    <tr>
        <td class="item-quantity">B:剪切料：厚5-6，长800以内</td>
    </tr>
    <tr>
        <td class="item-quantity">C:剪切料：厚4-5，长800以内</td>
    </tr>
    <tr>
            <td class="item-quantity">D:长料：厚5-6，直接剪切</td>
    </tr>
    <tr>
        <td class="item-quantity">E:长料：厚4-6，切割剪切</td>
    </tr>
    <tr>
        <td class="w80" rowspan="2">工角槽</td>
        <td class="w120" rowspan="2">工角槽</td>
        <td class="item-quantity">A:剪切料：厚4以上，（工角槽），铁板，长400以内</td>
    </tr>
    <tr>
        <td class="item-quantity">B:长料：厚4以上（工角槽），铁板</td>
    </tr>
    <tr>
        <td class="w80">钢筋头</td>
        <td class="w120">钢筋头</td>
        <td class="item-quantity">长400，直径14以内</td>
    </tr>
    <tr>
        <td class="w80">钢件</td>
        <td class="w120">钢件</td>
        <td class="item-quantity">厚6以上</td>
    </tr>
    <tr>
        <td class="w80" rowspan="4">中型料</td>
        <td class="w120" rowspan="4">中型料</td>
        <td class="item-quantity">A:剪切料：厚3-5，长400以内</td>
    </tr>
    <tr>
        <td class="item-quantity">B:剪切料：厚2-3，长400以内</td>
    </tr>
    <tr>
        <td class="item-quantity">C:长料：厚3以上需剪切</td>
    </tr>
    <tr>
        <td class="item-quantity">D:长料：厚2-3需剪切</td>
    </tr>
    <tr>
        <td class="w80" rowspan="3">生件</td>
        <td class="w120" rowspan="3">生件</td>
        <td class="item-quantity">A:长800，宽800，重量1吨以上，最短不低于500</td>
    </tr>
    <tr>
        <td class="item-quantity">B:超长超重需扣加工费，含碎、杂生铁</td>
    </tr>
    <tr>
        <td class="item-quantity">C:暖气片</td>
    </tr>
    <tr>
        <td class="w80" rowspan="4">铁皮</td>
        <td class="w120" rowspan="4">铁皮</td>
        <td class="item-quantity">A:雪花铁皮</td>
    </tr>
    <tr>
        <td class="item-quantity">B:铁皮龙骨</td>
    </tr>
    <tr>
        <td class="item-quantity">C:冰箱铁皮/彩钢瓦</td>
    </tr>
    <tr>
        <td class="item-quantity">D:杂铁皮</td>
    </tr>
    </tbody>
</table>
