<table class="table">
    <caption class="caption">废纸种类及质量标准</caption>
    <thead class="header">
    <tr>
        <th class="w80">种类</th>
        <th class="w120">品类</th>
        <th class="item-quantity"> 质量标准</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w80" rowspan="13">国废OCC</td>
            <td class="w120" rowspan="3">A级</td>
            <td class="item-quantity">1．主要是大家电箱等工业纸箱、纸箱厂的优等边角料、超市废纸箱中选出的上等纸箱</td>
        </tr>
        <tr>
            <td class="item-quantity">2．花纸含量不超过20%</td>
        </tr>
        <tr>
            <td class="item-quantity">3．垃圾含量不超过0.5%</td>
        </tr>
        <tr>
            <td class="w120" rowspan="3">B级</td>
            <td class="item-quantity">1．未经挑选的超市废纸箱、从社会各个区域收购的上等统货</td>
        </tr>
        <tr>
            <td class="item-quantity">2．花纸含量不超过45%</td>
        </tr>
        <tr>
            <td class="item-quantity">3．垃圾含量不超过0.5%</td>
        </tr>
        <tr>
            <td class="w120" rowspan="4">C级</td>
            <td class="item-quantity">1．从社会各个区域收购的中低档统货</td>
        </tr>
        <tr>
            <td class="item-quantity">2．花纸含量不超过70%</td>
        </tr>
        <tr>
            <td class="item-quantity">3．纸管类不允许带缠绕物</td>
        </tr>
        <tr>
            <td class="item-quantity">4．垃圾含量不超过0.5%</td>
        </tr>
        <tr>
            <td class="w120" rowspan="3">纸管类</td>
            <td class="item-quantity">1．从纸管厂或纺织行业回收的可用纸管（以氨纶管为主）</td>
        </tr>
        <tr>
            <td class="item-quantity">2．纸管类不允许带缠绕物</td>
        </tr>
        <tr>
            <td class="item-quantity">3．垃圾含量不超过0.5%</td>
        </tr>
        <tr>
            <td class="w80" rowspan="18">废杂纸</td>
            <td class="w120" rowspan="6">A级页子纸</td>
            <td class="item-quantity">1.以新书切页、轮转页为主</td>
        </tr>
        <tr>
            <td class="item-quantity">2.铜版纸、再生纸含量不超1%</td>
        </tr>
        <tr>
            <td class="item-quantity">3.明显染色的彩色纸张不超过5%</td>
        </tr>
        <tr>
            <td class="item-quantity">4.书本及胶背切除不彻底的书不允许有</td>
        </tr>
        <tr>
            <td class="item-quantity">5.本色纤维的纸和纸板不允许有</td>
        </tr>
        <tr>
            <td class="item-quantity">6.覆膜纸、白卡纸、胶背、色重纸、热敏纸等不允许有</td>
        </tr>
        <tr>
            <td class="w120" rowspan="7">B级页子纸</td>
            <td class="item-quantity">1.以办公废纸和书切页为主；教学材料、图纸、再生纸等颜色杂乱、白度不一的混合废纸含量不超过10%</td>
        </tr>
        <tr>
            <td class="item-quantity">2.铜版纸不超过3%</td>
        </tr>
        <tr>
            <td class="item-quantity">3.热敏纸不超过5%</td>
        </tr>
        <tr>
            <td class="item-quantity">4.书本不允许有</td>
        </tr>
        <tr>
            <td class="item-quantity">5.本色纤维的纸和纸板不允许有</td>
        </tr>
        <tr>
            <td class="item-quantity">6.白卡纸、胶背、色重纸、成辊热敏纸不允许有</td>
        </tr>
        <tr>
            <td class="item-quantity">7.非纤维杂质不允许有</td>
        </tr>
        <tr>
            <td class="w120" rowspan="5">E级页子纸</td>
            <td class="item-quantity">1.主要是各种印刷书写纸、办公用纸和去皮书本的混合废纸；教学材料、图纸、再生纸等颜色杂乱、白度不一的混合废纸含量不超过10%</td>
        </tr>
        <tr>
            <td class="item-quantity">2.去皮书本不超过30%</td>
        </tr>
        <tr>
            <td class="item-quantity">3.铜版纸不超过10% ；白卡纸不超过3%</td>
        </tr>
        <tr>
            <td class="item-quantity">4.本色纤维的纸和纸板、色重纸、不干胶纸、成辊的热敏纸不允许有</td>
        </tr>
        <tr>
            <td class="item-quantity">5.非纤维杂质不允许有</td>
        </tr>
    </tbody>
    </table>
